<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="login()">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-4">
                            <h4 class="card-title">Login</h4>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" id="username" class="form-control" formControlName="username">
                                    <label for="username">Login </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="password" id="userpassword" class="form-control" formControlName="password">
                                    <label for="userpassword">Senha</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <button class="btn btn-primary btn-block" type="submit">Fazer Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>