<div class="container">
    <div class="row mb-3">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item cursor-pointer"><a class="link-secondary" (click)="goToList()">Contatos</a></li>
                    <li class="breadcrumb-item text-secondary active" aria-current="page">{{!!contatoId ? 'Editar Contato' : 'Cadastrar Contato'}}</li>
                </ol>
            </nav>
        </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h3>{{!!contatoId ? 'Editar Contato' : 'Cadastrar Contato'}}</h3>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="salvar()">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3 mt-2">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" id="nome" class="form-control" formControlName="firstName">
                                        <label for="nome">Nome </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="email" id="email" class="form-control" formControlName="email">
                                        <label for="email">Email </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" id="telefone" class="form-control" formControlName="phone">
                                        <label for="telefone">Telefone </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col text-end">
                                <button class="btn btn-secondary btn-block mx-1" type="button" (click)="goToList()">Cancelar</button>
                                <button class="btn btn-primary btn-block mx-1" type="submit">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
