<nav class="navbar navbar-dark bg-dark p-2">
    <div class="container-fluid">
        <a class="navbar-brand">User App</a>
        <span class="navbar-text text-white cursor-pointer" (click)="resetStorage()">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
        </span>
    </div>
</nav>
<div class="pt-4">
    <router-outlet />
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
        <div class="col-12 text-center">
            <small class="text-muted">© {{year}} User App.</small>
        </div>
    </div>
</nav>
